/*
Portofolio Theme
created by Fransiscus Emmanuel Bunaren
1806173506
*/

body{
    font-family: Open Sans;
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    word-wrap: break-word;
    background-color: #e7e7e7;
    background-image: url(/static/img/thumb-1920-920203.png);
}

.green{
    background-color: #11b67e;
    color:white;
}

.yellow{
    background-color: yellowgreen;
    color:white;
}

.white{
    background-color: white;
    color:black;
}

.green-margin{
    background-color: #11b67e;
    color:white;
    margin:10px;
}

.shadow{
    background-color: white;
    box-shadow: 5px 5px 8px 5px #888888;
}

@media all and (max-width:768px) {
    .resp_table tr {    
        display: table;  
        width:100%;
        word-wrap:break-word;
    }               
    .resp_table td {
        display: table-row; 
        word-wrap:break-word;
    }     
}